<%- include ('partials/header.ejs'); -%>
    <!-- Preloader -->

    <div>
        <!-- Navigation -->

        <div class="navbar-default sidebar nicescroll" role="navigation">
            <div class="sidebar-nav navbar-collapse ">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="dashboard" class="waves-effect">Dashboard</a>
                    </li>
                    <% if (currentUser) { %>
                        <li>
                            <a href="user" class="waves-effect">User Profile</a>
                        </li>
                        <% }  %>
                    <li>
                        <a href="records" class="waves-effect">Records</a>
                    </li>
                    <li>
                        <a href="aboutus" class="waves-effect">About</a>
                    </li>

                   

                </ul>
                <div class="center p-20">
                    <span class="hide-menu"><a href="/campgrounds/new" target="_blank"
                            class="btn btn-info btn-block btn-rounded waves-effect waves-light">Register
                            Complaint</a></span>
                </div>
            </div>

        </div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Records</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3>Records till date</h3>
                            <!-- <p class="text-muted">Add class <code>.table</code></p> -->
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Title of the Complaint</th>

                                            <th>Registered On</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <% camps.forEach(function(image,i){ %>
                                    <tbody>
                                        <tr>
                                            <td><%=i+1%></td>
                                            <td><%=image.title%></td>
                                            <td><p>
                                                <a class="btn btn-primary"  href="/campgrounds/<%=image._id%>" role="button" >
                                                  More Detail
                                                </a>
                                                
                                              </p>
                                        
                                            </td>
                                            <td><%= moment(image.createdAt).format('LL') %></td>
                                            <% if(image.status===false){ %>  
                                                <td>Pending</td>
                                                <% }else{ %>  
                                                    <td>Solved</td>
                                                    <%}%>
                                        </tr>
                                        

                                    </tbody>
                                    <% }) %>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        <footer class="footer text-center"><b>We are their voices!</b></footer>
        <%- include ('partials/footer.ejs'); -%>